<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baiyun.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.baiyun.activity.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >

        <!-- 请到 http://appkefu.com/AppKeFu/admin/ 申请appkey -->
        <meta-data
            android:name="com.appkefu.lib.appkey"
            android:value="473f7a0e25b949fc7b4d705d6eb7afe5" />

        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.baiyun.base.BaseFragmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.baiyun.base.BaseSlidingFragmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.OverviewActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.NewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.VideoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".webview.WebViewActiviry"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.JobActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.DepartmentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".home.TrafficActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".recruit.ApplyFormActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".recruit.RecruitMajorActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".life.LNewsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".life.LAssociationActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".life.LModelActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".life.LGuideActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".schoolservice.SNoticeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".schoolservice.SLostFoundActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".schoolservice.SPhoneActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".setting.SettingItemActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.baiyun.picturesviewer.PicturesViewPagerActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.baiyun.picturesviewer.PicturesViewPagerActivity2"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".recruit.RSearchActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 聊天窗口, 可通过修改layout文件appkefu_activity_kfvip_chat.xml自定义窗口UI -->
        <activity
            android:name="com.appkefu.lib.ui.activity.KFChatActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appkefu.lib.ui.activity.KFSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appkefu.lib.ui.activity.KFFAQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appkefu.lib.ui.activity.KFFAQDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.appkefu.lib.ui.activity.KFWebBrowserActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 此处data的android:scheme请填写您App的包名, 如下所示： -->
                <data
                    android:host="appkefu_url"
                    android:scheme="com.baiyun.activity" />
            </intent-filter>
        </activity>

        <!-- 发送语音辅助service -->
        <service
            android:name="com.appkefu.lib.soundrecorder.KFRecorderService"
            android:exported="true" />

        <!-- 主service -->
        <service
            android:name="com.appkefu.lib.service.KFMainService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.appkefu.lib.action.CONNECT" />
                <action android:name="com.appkefu.lib.action.DISCONNECT" />
                <action android:name="com.appkefu.lib.action.TOGGLE" />
                <action android:name="com.appkefu.lib.action.SEND" />
                <action android:name="com.appkefu.lib.action.NETWORK_STATUS_CHANGED" />
                <action android:name="com.appkefu.lib.action.XMPP.MESSAGE_RECEIVED" />
            </intent-filter>
        </service>

        <!-- 获取OpenUDID, 专用于客服 -->
        <service android:name="com.appkefu.OpenUDID.OpenUDID_service" >
            <intent-filter>
                <action android:name="org.openudid.GETUDID" />
            </intent-filter>
        </service>

        <!-- 监听网络变化 -->
        <receiver android:name="com.appkefu.lib.receivers.KFNetworkConnectivityReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.appkefu.lib.receivers.KFBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.appkefu.lib.receivers.KFPowerReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.appkefu.lib.receivers.KFMessageReceiver" >
            <intent-filter>
                <action android:name="com.appkefu.lib.action.XMPP.MESSAGE_RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.baiyun.kefu.TagListActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.baiyun.kefu.ChangeTagActivity"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Baidu push应用定义消息receiver声明 -->
        <receiver android:name="com.baiyun.baidu_push.BaiduPushMessageReceiver" >
            <intent-filter>

                <!-- 接收push消息 -->
                <action android:name="com.baidu.android.pushservice.action.MESSAGE" />
                <!-- 接收bind,unbind,fetch,delete等反馈消息 -->
                <action android:name="com.baidu.android.pushservice.action.RECEIVE" />
                <action android:name="com.baidu.android.pushservice.action.notification.CLICK" />
            </intent-filter>
        </receiver>

        <!-- Baidu push必须的receviver和service声明 -->
        <receiver
            android:name="com.baidu.android.pushservice.PushServiceReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="com.baidu.android.pushservice.action.notification.SHOW" />
                <action android:name="com.baidu.android.pushservice.action.media.CLICK" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.baidu.android.pushservice.RegistrationReceiver"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.METHOD" />
                <action android:name="com.baidu.android.pushservice.action.BIND_SYNC" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.baidu.android.pushservice.PushService"
            android:exported="true"
            android:process=":bdservice_v1" >
            <intent-filter>
                <action android:name="com.baidu.android.pushservice.action.PUSH_SERVICE" />
            </intent-filter>
        </service>
        <!-- Baidu push 4.4版本新增的CommandService声明，提升小米和魅族手机上的实际推送到达率 -->
        <service
            android:name="com.baidu.android.pushservice.CommandService"
            android:exported="true" />
        <!-- push结束 -->


        <!-- 在百度开发者中心查询应用的API Key -->
        <meta-data
            android:name="api_key"
            android:value="1rAD2UyAZnTKbLrPiXBAOMdW" />
    </application>

</manifest>